html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#grad1 {
    height: 55px;
    background-color: powderblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(blue, lightblue, black);
}

.site-header {
    background-color: var(--primary-color);
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.user-actions {
    display: flex;
    align-items: center;
}

:root {
    --dark-color: #000;
    --dark-background: #0c0c0c;
    --table-background: ##101010;
    --table-head-color: #004ec6;
    --table-border-color: #c6c6c6;
    --max-contrast-color: #dedede;
}

.login-btn {
    color: var(--dark-color);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border: 2px solid var(--dark-color);
    border-radius: 4px;
    transition: all 0.3s;
}

    .login-btn:hover,
    .login-btn:focus {
        background-color: var(--dark-color);
        color: white;
        text-decoration: none;
    }